@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and font settings */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: white;
    height: auto;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/hero_background.jpg');
    background-size: cover;
    background-position: center;
    padding: 0.5rem 1.5rem;
    color: white;
    width: 100%;
}

.hero-text {
    flex: 1;
    text-align: left;
    padding: 0.5rem 1rem;
    padding-left: 2.5rem;
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-text .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero-text .btn:hover {
    background-color: #0056b3;
}

/* From Uiverse.io by SelfMadeSystem */ 
.hero-text .button {
    position: relative;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
    background: #111;
    color: #fff;
}

.hero-text .text {
    position: relative;
    z-index: 1;
    font-size: 1.5rem
}

.hero-text .button::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    background: radial-gradient(
        circle at 50% 50%,
        #0000 0,
        #0000 20%,
        #111111aa 50%
    ),
    radial-gradient(ellipse 100% 100%, #fff, #fff0);
    background-size:
    3px 3px,
    auto auto;
    transition: 0.3s;
}

.hero-text .button:hover::before {
    opacity: 0.3;
}

.hero-text .a {
    pointer-events: none;
    position: absolute;
    --w: 2px;
    --t: -40px;
    --s: calc(var(--t) * -1);
    --e: calc(100% + var(--t));
    --g: #fff0, #fff3 var(--s), #fffa var(--s), #fff, #fffa var(--e),
      #fff3 var(--e), #fff0;
}

.hero-text .a::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(4px) url(#unopaq);
    z-index: -2;
}

.hero-text .a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(10px) url(#unopaq);
    opacity: 0;
    z-index: -2;
    transition: 0.3s;
}

.hero-text .button:hover .a::after {
    opacity: 1;
}

.hero-text .l {
    left: -2px;
}

.hero-text .r {
    right: -2px;
}

.hero-text .l,
.hero-text .r {
    background: linear-gradient(var(--g));
    top: var(--t);
    bottom: var(--t);
    width: var(--w);
}

.hero-text .t {
    top: -2px;
}

.hero-text .b {
    bottom: -2px;
}

.hero-text .t,
.hero-text .b {
    background: linear-gradient(90deg, var(--g));
    left: var(--t);
    right: var(--t);
    height: var(--w);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 24rem;
    border-radius: 15px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 1.5rem;
    }

    .hero-text {
        text-align: center;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .hero-image {
        margin-top: 20px;
    }

    .hero-image img {
        max-width: 22rem;
    }
}

/* Cards Section */
.cards-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0.5rem;
    width: 100%;
    background-color: white;
}

.calculator-options-title h1{
    text-align:center;
    font-size: 2.5rem;
}

.aesthetic-divider{
    width:60%;
}

.aesthetic-divider .actual-divider{
    overflow:hidden; 
    height:20px;
    width: 100%;
    margin-top: 0.1rem;
}

.aesthetic-divider .actual-divider::after{
    content:''; 
    display:block; 
    margin:-25px auto 0;
    width:100%; 
    height:25px;  
    border-radius:125px / 12px;  
    box-shadow:0 0 8px black;
}

.card-container-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    justify-items: center;
    width: 100%;
}

.card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-align: left;
    width: 18.75rem;
    flex-direction: column;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.card .image-container{
    width: 100%;
    height: 18.75rem;
    position: relative;
    overflow: hidden;
}

.card .image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 75%, black 100%);
    pointer-events: none;
}

.card .image-container .coming-soon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6); /* Slight opacity for the black background */
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
    font-weight: bold;
}


.card .image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .card-title{
    width:100%;
    height: 6rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-title h3 {
    font-size: 1.7rem;
    text-align: left;
    color: white;
    padding: 0.2rem 0.8rem;
}

.card .card-description{
    width: 100%;
    height: 10.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-description p {
    font-size: 1.1rem;
    text-align: left;
    padding: 0.2rem 0.8rem;
    color: rgb(0, 0, 71);
}

.card .card-calculate-btn{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

/* From Uiverse.io by vinodjangid07 */ 
.card .card-calculate-btn .Btn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1em;
    color: rgb(121, 103, 3);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition-duration: 3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    background-size: 200% 200%;
}

.card .card-calculate-btn .Btn:hover {
    transform: scale(0.95);
    transition-duration: 3s;
    animation: gradient 5s ease infinite;
    background-position: right;
}

.card .card-calculate-btn a{
    text-decoration: none;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .card-container {
        padding: 20px;
    }
}

/* Footer Section */
footer {
    background-image: url('images/hero_background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 20px;
    text-align: center;
    margin-top: 50px;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    font-size: 1rem;
    margin-bottom: 20px;
}

footer .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-links a {
    margin: 10px 0;
}

/* Button Styling */
footer .button {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 16px;
    border: none;
    padding: 2px;
    background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
    position: relative;
    transition: background 0.3s, transform 0.3s;
}

footer .button:hover {
    transform: scale(0.98);
}

footer .button::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 60%;
    border-radius: 120px;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px #ffffff38;
    z-index: -1;
    transition: box-shadow 0.3s;
}

footer .button:hover::after {
    box-shadow: 0 0 10px #ffffff18;
}

footer .blob1 {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 16px;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle 60px at 0% 100%, #3fe9ff, #0000ff80, transparent);
    box-shadow: -10px 10px 30px #0051ff2d;
    transition: background 0.3s, box-shadow 0.3s;
}

footer .button:hover .blob1 {
    box-shadow: -5px 5px 20px #000;
}

footer .inner {
    padding: 14px 25px;
    border-radius: 14px;
    color: #fff;
    z-index: 3;
    position: relative;
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
    transition: background 0.3s;
    display: flex;
    align-items: center; /* Aligns the icon and text */
}

footer .button:hover .inner {
    background: radial-gradient(circle 80px at 80% -50%, #333333, #0f0f0f);
}

footer .inner i {
    font-size: 1rem; /* Adjust icon size */
}

footer .inner::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 14px;
    background: radial-gradient(circle 60px at 0% 100%, #00e1ff1a, #0000ff11, transparent);
    position: absolute;
    transition: opacity 0.3s;
}

footer .button:hover .inner::before {
    opacity: 0;
}

/* Mobile responsiveness for footer */
@media (max-width: 768px) {
    footer {
        padding: 30px 20px;
    }

    footer .footer-links {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        font-size: 0.9rem;
    }
}

/* Calculator Options Form Styling*/
/* General Layout */

#inputform{
    display: flex; 
}

.form-parent-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow-x: hidden;
}

.form-container {
    width: 100%;
    max-width: 39rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color:rgba(235, 236, 240, 0.62);
}

.form-container h1 {
    font-size: 1.8rem;
    color: #646262;
    text-align: center;
    padding-bottom: 1rem;
}

.form-fields-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-field {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    gap: 1.5%;
    padding-bottom: 1rem;
}

.form-field .form-label-compartment-parent {
    width: 35%;
    align-items: left;
}

.form-field .form-label-compartment{
    width: 100%;
}

.form-field .form-label-compartment h3{
    text-align: left;
    font-size: 1.05rem;
    color: #4e4d4d;
    font-weight: 500;
}

.form-field .form-input-compartment-parent{
    width: 63.5%;
    align-items: left;
}


/* Styles for input field */

.form-field .form-input-compartment {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 1.05rem;
}

.form-field #custom-purpose{
    width: 100%;
}

.form-field #custom-purpose #custom-purpose-input{
    width: 80%;
}

.form-field .form-input-compartment input, #custom-purpose-input {
    border: 0;
    outline: 0;
    font-size: 1rem;
    border-radius: 20rem;
    padding: 1rem;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 80%;
    align-items: left;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.form-field .form-input-compartment input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.form-field .form-input-compartment #custom-purpose-input:focus{
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.form-field .form-input-compartment .duration{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-field .form-input-compartment-parent #custom-purpose input {
    padding: 0.5rem;
    width: 100%;
}


/* Styles for Select Drop down */

.form-field .form-input-compartment-parent .select-container{
    width: 80%;
    position: relative;
}

.form-field .form-input-compartment-parent select{
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 0.9rem;
    border-radius: 20rem;
    padding: 0.5rem;
    padding-left: 1rem;
    text-shadow: 1px 1px 0 #FFF;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    align-items: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-field .form-input-compartment-parent .select-container::after{
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: black;
    pointer-events: none;
}



/* Styles for Amount field */

.form-field .form-input-compartment-parent .target-amount-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    gap: 0.5rem;
}

.clear-btn {
    cursor: pointer;
    /*margin-left: 10px;
    padding: 5px 10px;
    background-color: #f1f1f1;*/
    border: 1px solid #cccccc;
    background-image: linear-gradient(to top, #d8d9dbde 0%, #fff 80%, #FDFDFD 100%);
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 0.9rem;
    border-radius: 20rem;
    padding: 0.5rem;
    text-shadow: 1px 1px 0 #FFF;
    box-shadow: inset 2px 2px 5px #a1a2a7e3, inset -5px -5px 10px #FFF;
    align-items: left;
}

.amount-disclaimer{
    font-size: 0.8rem;
    color: #464646;
}

#editable-text {
    font-size: 14px;
    color: #707070;
}

/* Radio Buttons for Compunding Frequency, Regular-or-Single, Saving Frequency */
.form-field .form-input-compartment-parent .radio-compound, 
.form-field .form-input-compartment-parent .radio-saving-frequency,
.form-field .form-input-compartment-parent .radio-interest-accountancy,
.form-field .form-input-compartment-parent .radio-single-or-regular{
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.form-field .form-input-compartment-parent .radio-compound .column1{
    width: 42%;
}

.form-field .form-input-compartment-parent .radio-saving-frequency .column1{
    width: 35%;
}

.form-field .form-input-compartment-parent .radio-compound .column2{
    width: 58%;
}

.form-field .form-input-compartment-parent .radio-saving-frequency .column2{
    width: 65%;
}

.form-field .form-input-compartment-parent .radio-interest-accountancy .column1,
.form-field .form-input-compartment-parent .radio-interest-accountancy .column2,
.form-field .form-input-compartment-parent .radio-single-or-regular .column1,
.form-field .form-input-compartment-parent .radio-single-or-regular .column2{
    width: 50%;
}

.form-field .form-input-compartment-parent .radio-compound .radio-compund-option, 
.form-field .form-input-compartment-parent .radio-saving-frequency .radio-saving-frequency-option,
.form-field .form-input-compartment-parent .radio-interest-accountancy .radio-interest-accountancy-option,
.form-field .form-input-compartment-parent .radio-single-or-regular .radio-single-or-regular-option{
    display: flex;
    width: 100%;
    justify-content: 100%;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.8rem;
}

.form-field .form-input-compartment-parent .radio-compound .radio-compund-option stylish-radio-btn, 
.form-field .form-input-compartment-parent .radio-compound .radio-compund-option h3, 
.form-field .form-input-compartment-parent .radio-saving-frequency .radio-saving-frequency-option stylish-radio-btn, 
.form-field .form-input-compartment-parent .radio-saving-frequency .radio-saving-frequency-option h3,
.form-field .form-input-compartment-parent .radio-interest-accountancy .radio-interest-accountancy-option stylish-radio-btn, 
.form-field .form-input-compartment-parent .radio-interest-accountancy .radio-interest-accountancy-option h3,
.form-field .form-input-compartment-parent .radio-single-or-regular .radio-single-or-regular-option stylish-radio-btn, 
.form-field .form-input-compartment-parent .radio-single-or-regular .radio-single-or-regular-option h3{
    width: 50%;
}

.form-field .form-input-compartment-parent .radio-compound h3, 
.form-field .form-input-compartment-parent .radio-saving-frequency h3,
.form-field .form-input-compartment-parent .radio-interest-accountancy h3,
.form-field .form-input-compartment-parent .radio-single-or-regular h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 0.9rem;
    text-shadow: 1px 1px 0 #FFF;
    font-weight: 450;
    color:rgb(5, 5, 5)
}

.form-field .form-input-compartment-parent .radio-compound .stylish-radio-btn, 
.form-field .form-input-compartment-parent .radio-saving-frequency .stylish-radio-btn,
.form-field .form-input-compartment-parent .radio-interest-accountancy .stylish-radio-btn,
.form-field .form-input-compartment-parent .radio-single-or-regular .stylish-radio-btn{
    background: linear-gradient(145deg, hsl(0, 0%, 99%), hsla(0, 0.00%, 69.00%, 0.82));
    border: 5.5px solid hsl(0, 0%, 84%);
    box-shadow: 10px 10px 17px hsla(0, 0.00%, 69.00%, 0.82),
                -10px -10px 17px varhsl(0, 0%, 99%);
    display: grid;
    border-radius: 30px;
    position: relative;
}

.form-field .form-input-compartment-parent .radio-compound input[type="radio"], 
.form-field .form-input-compartment-parent .radio-saving-frequency input[type="radio"],
.form-field .form-input-compartment-parent .radio-interest-accountancy input[type="radio"],
.form-field .form-input-compartment-parent .radio-single-or-regular input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 1.1rem;
    height: 1.1rem;
    border: none;
    background: transparent;
    box-shadow: inset -2px -2px 4px hsla(0, 0.00%, 69.00%, 0.82),
                inset 2px 2px 4px hsl(0, 0%, 99%);
    margin: 0;
    outline: none;
    z-index: 3;
    border-radius: 3.75rem;
}

.form-field .form-input-compartment-parent .radio-compound input[type="radio"]:checked, 
.form-field .form-input-compartment-parent .radio-saving-frequency input[type="radio"]:checked,
.form-field .form-input-compartment-parent .radio-interest-accountancy input[type="radio"]:checked,
.form-field .form-input-compartment-parent .radio-single-or-regular input[type="radio"]:checked{
    background: transparent;
    box-shadow: inset 2px 2px 4px hsla(0, 0.00%, 69.00%, 0.82),
                inset -2px -2px 4px hsl(0, 0%, 99%);
}


.form-field .form-input-compartment-parent .radio-compound .stylish-radio-btn i, 
.form-field .form-input-compartment-parent .radio-saving-frequency .stylish-radio-btn i,
.form-field .form-input-compartment-parent .radio-interest-accountancy .stylish-radio-btn i,
.form-field .form-input-compartment-parent .radio-single-or-regular .stylish-radio-btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    color: #034868;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-field .form-input-compartment-parent .radio-compound input[type="radio"]:checked + i.fas.fa-circle, 
.form-field .form-input-compartment-parent .radio-saving-frequency input[type="radio"]:checked + i.fas.fa-circle,
.form-field .form-input-compartment-parent .radio-interest-accountancy input[type="radio"]:checked + i.fas.fa-circle,
.form-field .form-input-compartment-parent .radio-single-or-regular input[type="radio"]:checked + i.fas.fa-circle{
    opacity: 1;
}


/* Form Buttons, Calculate and Back */

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-actions a{
    text-decoration: none;
}

.form-actions .back-button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem 1.8rem;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
}

.form-actions .back-button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.form-actions .back-button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.form-actions .calculate-button {
    position: relative;
    cursor: pointer;
    padding: 1rem 1.8rem;
    border: 1px solid black;
    border-radius: 50px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 1px 1px #000;
    box-shadow:
      inset 0px 4px 4px -3px #fff0,
      inset 0px -3px 4px -3px #fff;
    background: linear-gradient(#ddd, #999 25%, #000 75%);
    isolation: isolate;
    transition:
      0.25s all,
      0.1s background-position;
      overflow: hidden;
}
  
.form-actions .calculate-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: radial-gradient(circle at 50% 150%, #48b9ef, #0000 50%);
    background-size: 300% 50%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: inherit;
}
  
.form-actions .calculate-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: radial-gradient(circle at 50% 320%, #48b9ef, #0000 50%);
    background-size: 300% 50%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: inherit;
}
  
.form-actions .calculate-button:hover {
    box-shadow:
      inset 0px 4px 4px -3px #fff5,
      inset 0px -3px 4px -3px #fff;
}

.form-actions .calculate-button:hover::before,
.form-actions .calculate-button:hover::after {
    opacity: 1;
}
  
.form-actions .calculate-button:active::before,
.form-actions .calculate-button:active::after {
    opacity: 0;
}
  
.form-actions .calculate-button:active {
    box-shadow:
      inset 0px 4px 4px -3px #000,
      inset 0px -4px 4px -3px #000c,
      inset 0px 0px 24px -3px #000a;
    background-position: 1px 1px;
}
  
.form-actions .calculate-button div {
    transition: 0.1s translate;
}
  
.form-actions .calculate-button:active div {
    translate: 1px 1px;
}
  

@media (max-width: 768px) {
    .form-fields-container{
        gap: 1.7rem;
    }

    .form-field {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-field .form-label-compartment-parent,
    .form-field .form-input-compartment-parent {
        width: 100%;
    }
}

/* Form Results styling */
#resultsoutput{
    display: none;
}

.form-results {
    margin: 0;
    background-color: #eaeaea;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 2rem 1rem;
    overflow-x: hidden;
}

.form-result {
    max-width: 39rem;
    width: 100%;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
}

.form-result header {
    background-image: url('images/hero_background.jpg');
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    padding: 1.2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-result header .form-result__title {
    position: relative;
    text-transform: uppercase;
}

.form-result header .form-result__title span {
    display: block;
}

.form-result header .form-result__title--top {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 4px;
}

.form-result header .form-result__title--bottom {
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 3.55px;
    opacity: 0.65;
}

.form-result__profiles {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
}

.form-result__profile {
    display: grid;
    grid-template-columns: 3fr 3fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
}

.form-result__profile:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.form-result__name {
    color: #01176de7;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.64px;
    margin-left: 12px;
}

.form-result__value {
    color: #151616;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: right;
    margin-left: 60px;
}

.answer{
    color: #ab07b1;
    font-weight: 900;
    font-size: 1.55rem;
}

/* Initially hide the future Values */
.RegularDepositNoInterestArticle, .OneTimeDepositCompoundInterestArticle, .OneTimeDepositOneTimeInterestArticle,
.RegularDepositWithCompoundInterestArticle, .OneTimeDepositNoInterestArticle{
    display: none;
}

.form-result {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}

/* Form result Buttons */
.form-result-btns {
    padding: 2rem 2rem;
    width: 100vw;
    height: auto;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column; /* Stack the columns vertically */
    justify-content: center;
    align-items: center;
}

.form-result-btns-col1, .form-result-btns-col2 {
    display: flex; /* Align buttons in a row */
    justify-content: space-between; /* Spread buttons evenly */
    align-items: center; /* Ensure the buttons are centered */
    margin-bottom: 1.5em; /* Space between the two columns */
}

.form-result-btns button {
    overflow: hidden;
    margin: 0 1em; /* Space between buttons */
    border: none;
    padding: 0;
    width: 20vw; /* Use viewport width for proportional width */
    height: 2.5em; /* Keep the height in 'em' for consistency */
    border-radius: 0.3125em; /* Calculated as 0.125 * 2.5em */
    --dy: 0px;
    transform: translatey(var(--dy));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: linear-gradient(#eaebf1, #b1b7c9);
    
    /* Font size proportional to button height */
    font: 1.2em/2.5em Roboto; /* Scales font size proportionally */
    
    color: #fff;
    text-transform: uppercase;
    filter: grayscale(0.85) contrast(0.85);
    transition: 0.3s;
    cursor: pointer;
}

.form-result-btns button.invert {
    color: #000;
}

.form-result-btns button:focus,
.form-result-btns button:hover {
    outline: none;
    filter: none;
}

.form-result-btns button:active {
    --dy: 0.3125em; /* Calculated as 0.125 * button-r */
}

.form-result-btns button[data-icon] {
    width: 16vw + 2 * 0.625em; /* Adjust width for icon size based on screen size */
    border-radius: 0.5 * 0.3125em; /* Calculated as 0.5 * button-r */
}

.form-result-btns button[data-icon]:before {
    float: left;
    width: 2.5em; /* Keep the icon width in 'em' for consistency */
    box-shadow: var(--in-sh);
    background: linear-gradient(#3a3e40, #393d40);
    content: attr(data-icon);

    /* Clip path to create the icon shape */
    @supports (clip-path: circle(5px)) {
        padding-right: 0.625em; /* Calculated as icon-pad */
        clip-path: polygon(0 0, 2.5em 0, 2.5em 29%, 100% 50%, 2.5em calc(100% - 29%), 2.5em 100%, 0 100%);
    }
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .form-result-btns button {
        width: 40vw; /* Adjusted to 15vw for more moderate scaling */
        font-size: 1.1em; /* Slightly reduced font size */
    }

    .form-result-btns button[data-icon] {
        width: 36vw + 2 * 0.625em; /* Adjust icon width for smaller screen */
    }
}